* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.productShow {
          max-width: 1155px;
          /* background-color: red; */
          margin: auto;
}

.productShow .container {
          padding: 20px;
          margin-top: 100px;
          display: flex;
          flex-wrap: wrap;
          /* background-color: red; */
}

.productShow .container .show .data {
          margin-bottom: 50px;
          width: 1100px;
          background-color: #f5f5f5;
          border-radius: 10px;
          padding-top: 20px;
          padding-left: 20px;
          padding-bottom: 20px;
          display: flex;
          transition: 0.3s;
          cursor: pointer;
}

.productShow .container .show .data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.productShow .container .show .data img {
          width: 130px;
          height: 130px;
          /* border: 10px solid red; */
          margin-right: 80px;
          transition: 0.3s;
}

.productShow .container .show .data img :hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.productShow .container .show .data h2 {
          margin-right: 100px;
          font-size: 30px;
          transition: 0.3s;
          width: 150px;
          /* background-color: aqua; */
          word-wrap: break-word;
          border-radius: 10px;
}

.productShow .container .show .data:hover h2 {
          color: rgb(199, 88, 88);
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.productShow .container .show .data h3 {
          width: 150px;
          /* background-color: aqua; */
          border-radius: 10px;
          margin-right: 100px;
          word-wrap: break-word;
}

.productShow .container .show .data h4 {
          width: 150px;
          /* background-color: aqua; */
          border-radius: 10px;
          font-size: 30px;
}

.productShow .container .show .data i {
          font-size: 25px;
          transition: 0.3s;
          margin-left: 100px;
          display: none;
}

.productShow .container .show .data:hover i {
          display: block;
}

.productShow .container .show .data i:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: rgb(226, 68, 68);
}

.productShow .container .addPrice {
          margin-bottom: 50px;
          margin-top: 50px;
          font-size: 30px;
          width: 500px;
          height: 100px;
          background-color: #f5f5f5;
          transition: 0.3s;
          border-radius: 10px;
          padding-left: 20px;
          padding-top: 20px;
}

.productShow .container .addPrice:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
          background-color: #fff;
}

.productShow .container .order {
          margin-top: 50px;
          margin-bottom: 50px;
          margin-left: 100px;
}

.productShow .container .order button {
          font-size: 35px;
          border: none;
          border-radius: 10px;
          width: 400px;
          background-color: #1976d2;
          cursor: pointer;
          color: #fff;
          transition: 0.3s;
}

.productShow .container .order button:hover {
          background-color: rgb(80, 216, 80);
}

.productShow .container .order p {
          font-size: 30px;
          margin-top: 20px;
}