* {
          margin: 0;
          padding: 0;
}

/* .navbar {
          max-width: 1200px;
          margin: 0 auto;
} */

.navbar .container {
          padding-top: 20px;
          max-width: 1200px;
          height: 67px;
          margin: 0 auto;
          display: flex;
          /* background-color: rgb(228, 12, 12); */
}

.navbar .container .tab1 {
          font-size: 30px;
          position: relative;
          left: 10px;
}

.navbar .container .tab1 img {
          width: 50px;
          height: 50px;
          transition: 0.3s;
          cursor: pointer;
}

.navbar .container .tab1 img:hover {
          transform: scale(1.3);
          text-shadow: 0 0 10px;
          /* transform: rotate(360deg); */
}

.navbar .container .tab {
          margin-left: 70px;
          font-size: 30px;
          display: flex;
}

@media screen and (max-width: 900px) {
          .navbar .container .tab {
                    margin-left: 40px;
                    font-size: 30px;
                    display: flex;
          }
}


.navbar .container .tab input {
          margin-top: 5px;
          width: 400px;
          height: 40px;
          border-radius: 10px;
          border: none;
          font-size: 30px;
          padding-left: 10px;
}

.navbar .container .tab input:focus {
          border-top: none;
}

.navbar .container .tab button {
          margin-top: 5px;
          background-color: #1976d2;
          width: 120px;
          height: 40px;
          border: none;
          border-radius: 10px;
          color: #fff;
          font-size: 30px;
          cursor: pointer;
          transition: 0.3s;
}

.navbar .container .tab button:hover {
          background-color: rgb(212, 69, 69);
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.navbar .container .tab .tabbutton {
          text-decoration: none;
          font-size: 35px;
          color: #fff;
          transition: 0.3s;
          cursor: pointer;
}

.navbar .container .tab .tabbutton:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}


.navbar .container .tabFinished {
          position: relative;
          right: 10px;
          margin-left: 200px;
          transition: 0.3s;
          cursor: pointer;
}

@media screen and (max-width:900px) {
          .navbar .container .tabFinished {
                    position: relative;
                    right: 20px;
                    left: 50px;
                    transition: 0.3s;
                    cursor: pointer;
          }
}

.navbar .container .tabFinished:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.navbar .container .tabFinished .avatar {
          text-decoration: none;
}

.navbar .container .tabFinished .avatar .avatar-main {
          font-size: 30px;
          color: red;
          cursor: pointer;
          background-color: #fff;
          transition: 0.3s;
}

.navbar .container .tabFinished .avatar .avatar-main:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.navbar .container .tabFinished .avatar #avatar-manu {
          display: none;
          width: 250px;
          background-color: #fff;
          border-radius: 10px;
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          flex-wrap: wrap;
          position: absolute;
          right: 0px;
}

.navbar .container .tabFinished .avatar:hover #avatar-manu {
          display: block;
}

.navbar .container .tabFinished .avatar #avatar-manu .manuEmail {
          padding-bottom: 20px;
          text-align: center;
          font-size: 30px;
          color: rgb(206, 54, 54);
          word-wrap: break-word;
          padding-right: 10px;
}

.navbar .container .tabFinished .avatar #avatar-manu .manuItem {
          font-size: 30px;
          flex: 1;
          cursor: pointer;
          padding-bottom: 20px;
          text-decoration: none;
          min-width: 150px;
          display: flex;
          flex-direction: row;
}

.navbar .container .tabFinished .avatar #avatar-manu .manuItem:hover {
          color: rgb(218, 59, 59);
}