* {
          margin: 0;
          padding: 0;
}

.navbar {
          max-width: 1200px;
          background-color: red;
          margin: 0 auto;
}

.navbar .container {
          display: flex;
          max-width: 2000px;
          background-color: blueviolet;
}

.navbar .container .tab1 {
          margin-left: 0px;
          font-size: 30px;
}

.navbar .container .tab {
          margin-left: 150px;
          font-size: 30px;
}

.navbar .container .tabFinished {
          margin-right: 0px;
          margin-left: 200px;
}